@page "/movies"
@using MovieApi
@attribute [StreamRendering]

<PageTitle>Movies</PageTitle>

<h1>Movies</h1>

<p>Movie title and year of release.</p>

@if (movies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in movies)
            {
                <tr>
                    <td>@movie.Title</td>
                    <td>@movie.Year</td>
                    <td><img src ="@movie.PosterUri" alt="Movie poster" /></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<Movie> movies = new();

    protected override void OnInitialized()
    {
        movies.AddRange(new List<Movie>
        {
            new Movie { Title = "Star Wars: The Phantom Menace", Year = 1999, PosterUri = "https://en.wikipedia.org/wiki/Star_Wars:_Episode_I_%E2%80%93_The_Phantom_Menace#/media/File:Star_Wars_Phantom_Menace_poster.jpg" }
        });
    }

}
